* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: telegrama;
    src: url(../assets/telegrama_raw.ttf);
}

:root {
    --color-dark-grey: #090909;
    --color-green: #003900;
    --color-navy:  #000030;
    --txt-color: #fafad2;
    --border-color: #E6DB74;
    --bg-color: #032113;
    --prm-color: #21f396;
    --sec-color: #258457;
    --green-color: #A6E22E;    /* #adff2f; */
    --cyan-color: #66D9EF;    /* #87ceeb; */

    --bg-color: #000900;
    --prm-color: #00ff00;

    --sec-color: #002000;

    font-size: 1.95vw;
    font-size: min(1.5vw, calc((4vw + 4vh + 2vmin ) / 5.1));
    font-size: 21px;
}

/*To PREVENT DIV-TEXT SELECTION by Mouse at the Page*/
div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

body {
    background-color: var(--bg-color);
    /* color: var(--sec-color); */
    font-family: monospace;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-grid {
    /* background-color: #032113; */
    /* color: #002000; */
    font-family: monospace;
    display: grid;
    grid-template-columns: repeat(80, auto);  /* - - - should be equal to const COL = 80 in mai.js */
    /* border: 1px solid orangered; */
    position: absolute;
    top: 0; left: 0;
    /* height: 100vh;
    width: 100vw; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}

.cell {
    /* background-color: #002000; */
    color: #002000;
    transition: 1s;
    height: 1rem;
}

.cell:hover {
    color: #00ff00;
    color: #21f396;
    transition: color 0s;
}

button {
    z-index: 2;
}
